.logotype {
  display: block;
  margin: 0 auto;
  width: 121px;
  height: 60px;
  transition: all .16s;

  svg,
  img {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
  }

  &:focus {
    outline: none;
    // box-shadow: 0 0 0 2px @colorHighlight;
    transform: scale(1.1);
  }
}

.logotype_side {
  .positionCenter-X();
  bottom: -16px;

  &:focus {
    transform: translateX(-50%) scale(1.1);
  }
}
