mixin field(data)
  +b.LABEL.field
    +e.input
      +b.SPAN.subcaption= data.name
      input(type=data.type value=data.value)
    - if (data.edit)
      +e.BUTTON.edit
        +svg({
          name: 'ico-edit'
        })
