mixin field(data)
  +b.LABEL.field(class=data.style ? '_'+data.style : '')
    +e.DIV.input
      - if (data.name)
        +e.SPAN.name.subcaption__= data.name
      input(type=data.type value=data.value placeholder=data.placeholder)
    - if (data.edit)
      +e.BUTTON.edit
        +svg({
          name: 'ico-edit'
        })
