include progress/progress.pug
include doc/doc.pug

mixin lkCourse(data)
  +b.A.lk-course(href="#")
    +e.DIV.head
      +e.DIV.block._title
        +b.SPAN.subcaption Курс
        +b.SPAN.caption(title=data.title)= data.title
      +e.DIV.block
        +b.SPAN.subcaption Уроки
        +progress({
          value: data.progress.value,
          max: data.progress.max
        })
        
mixin lkCourseDocs(data)
  - if (data.docs)
    +b.DETAILS.lk-course
      +e.SUMMARY.head
        +e.block._title
          +b.SPAN.subcaption Курс
          +b.SPAN.caption(title=data.title)= data.title
        +e.SPAN.counter= data.docsCount + ( (Number(data.docsCount.toString().split('').pop()) == 1) ? ' документ' : (Number(data.docsCount.toString().split('').pop()) > 4 || Number(data.docsCount.toString().split('').pop()) == 0) ? ' документов' : ' документа' )
      +e.main
        +b.list._inline._items._items-triple
          each doc in data.docs
            +e.item
              +doc({
                title: doc.title,
                filename: doc.filename,
                type: doc.type,
                size: doc.size
              })
  - else
    +b.A.lk-course(href="#")
      +e.DIV.head
        +e.DIV.block._title
          +b.SPAN.subcaption Курс
          +b.SPAN.caption(title=data.title)= data.title
        +e.SPAN.counter= '0 документов'
          
