//- includes
include components/head/index.pug
include components/svg/index.pug

include components/header/index.pug
include components/common/index.pug
include components/side/index.pug
include components/slider/index.pug
include components/item/index.pug
include components/footer/index.pug
include components/footer/scripts.pug
include components/modal/index.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'О нас',
		side: true
	}

//- end variables

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page(class=pageSettings.side ? '_side' : '')
		+header({
			title: pageSettings.title,
			auth: false,
			select: false
		})
		
		if (pageSettings.side)
			+e.ASIDE.side
				+side
		
		+e.MAIN.content
			+b.container
				+b.SECTION.section
					+e.content.content._align-center._size-s
						p. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						p. 
							Nullam ac tortor vitae purus. Vehicula ipsum a arcu cursus vitae congue. Id ornare arcu odio ut. Vel turpis nunc eget lorem dolor sed viverra ipsum. At lectus urna duis convallis convallis. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Volutpat odio facilisis mauris sit amet massa vitae tortor.
					
					+b.A.video(href="https://www.youtube.com/embed/KmAZ_b7VtMA" data-modal-open="video")
						+e.DIV.image
							img(src="https://picsum.photos/id/1005/1200/600")
									
				+b.SECTION.section
					+e.title
						+b.H3.caption Наша команда
					+e.main
						+sliderTeam

		+footer
		
		+e.modals
			+modal({
				modal: 'login',
				style: 'login'
			})
			+modalVideo
			+modalPerson
			
		
		+scripts
