//- includes
include components/head/index.pug
include components/svg/index.pug

include components/header/index.pug
include components/common/index.pug
include components/side/index.pug
include components/item/index.pug
include components/footer/index.pug
include components/footer/scripts.pug
include components/modal/index.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'Статьи',
		side: true
	}
	
//- end variables

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page(class=pageSettings.side ? '_side' : '')
		+header({
			title: pageSettings.title,
			auth: false,
			select: true
		})
		
		if (pageSettings.side)
			+e.ASIDE.side
				+side
		
		+e.MAIN.content
			+b.container
				+b.UL.list._inline._items._items-double
					each item in articlesPageData
						- if (item.double)
							+e.LI.item._double
								each i in item.items
									+item_article({
										title: i.title,
										text: i.text,
										img: i.img,
										size: i.size
									})
						- else
							+e.LI.item
								+item_article({
									title: item.title,
									text: item.text,
									img: item.img,
									size: item.size
								})
		+footer
		
		+e.modals
			+modal({
				modal: 'login',
				style: 'login'
			})
		
		+scripts
