//- includes
include components/head/index.pug
include components/svg/index.pug

include components/header/index.pug
include components/common/index.pug
include components/side/index.pug
include components/item/index.pug
include components/footer/index.pug
include components/footer/scripts.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'Все курсы',
		side: true
	}
	
//- end variables

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page(class=pageSettings.side ? '_side' : '')
		+header({
			title: pageSettings.title,
			auth: true,
			select: true
		})
		
		if (pageSettings.side)
			+e.ASIDE.side
				+side
		
		+e.MAIN.content
			+b.container
				+b.UL.list._inline._items._items-double
					+e.LI.item
						+course_page
					+e.LI.item
						+course_page
					+e.LI.item
						+course_page
					+e.LI.item
						+course_page

		+footer
		
		+scripts
