//- includes
include components/head/index.pug
include components/svg/index.pug

include components/header/index.pug
include components/common/index.pug
include components/side/index.pug
include components/slider/index.pug
include components/item/index.pug
include components/footer/index.pug
include components/footer/scripts.pug
include components/modal/index.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'Сотрудничество',
		side: true
	}

//- end variables

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page(class=pageSettings.side ? '_side' : '')
		+header({
			title: pageSettings.title,
			auth: false,
			select: false
		})
		
		if (pageSettings.side)
			+e.ASIDE.side
				+side
		
		+e.MAIN.content
			+b.container
						
				+b.SECTION.section
					+b.FORM.form._size-m(id="partnership-speaker")
						+e.block
							+b.SPAN.caption._size-s Если вы хотите быть нашим спикером, заполните форму ниже

							+field({
								placeholder: 'ФИО',
								type: 'text',
								style: 'size-s'
							})
							+field({
								placeholder: 'Город',
								type: 'text',
								style: 'size-s'
							})
							+field({
								placeholder: 'Ваша специализация',
								type: 'text',
								style: 'size-s'
							})
							+field({
								placeholder: 'Телефон',
								type: 'text',
								style: 'size-s'
							})
							+field({
								placeholder: 'Почта',
								type: 'email',
								style: 'size-s'
							})
							+textarea({
								placeholder: 'О себе / Ваши предложения',
							})
							
							+e.submit._align-center
								+b.BUTTON.button._size-s(data-modal-open="thanks")
									span Отправить

						+b.FORM.form._size-m(id="partnership-commercial")
							+b.SPAN.caption._size-s Предложения по рекламе

							+field({
								placeholder: 'ФИО',
								type: 'text',
								style: 'size-s'
							})
							+field({
								placeholder: 'Телефон',
								type: 'text',
								style: 'size-s'
							})
							+textarea({
								placeholder: 'Предложение',
							})
							
							+e.submit._align-center
								+b.BUTTON.button._size-s(data-modal-open="thanks")
									span Отправить
				
		+footer
		
		+e.modals
			+modal({
				modal: 'login',
				style: 'login'
			})
			+modalVideo
			
		
		+scripts
