include share/share.pug
include rating/rating.pug

mixin article(data)
  +b.ARTICLE.article
    +e.HEADER.header
      +e.line
        +e.author
          span Автор: <a class="link" href="speaker.html">Николай Иванович</a>
          +label({
            name: 'Сексолог'
          })
        +share
      +e.image
        img(src=global.paths.pictures+'article.jpg' alt=pageSettings.title)
    +e.container
      +e.main
        +b.content
          
          h3 Советы и практические рекомендации к действию

          p. 
            В интернете действует свобода слова, поэтому ваши клиенты и 
            конкуренты могут писать о вас все, что захотят. Вне зависимости 
            от того, ложь это или правда, вам придется улаживать связанные 
            с этим проблемы.

          p. 
            75% людей читают отзывы перед покупкой. И часть из них не станет 
            покупать у вас из-за найденного в сети негатива. В некоторых 
            компаниях упущенная таким образом прибыль доходит до миллионов 
            рублей в месяц.

          h3 Как формируется репутация в сети

          p. 
            Репутация в сети — это отзывы о вашей компании, продукте, о 
            вас как человеке и руководителе. Ваши клиенты, партнеры и 
            сотрудники могут описывать свое взаимодействие с вами в личных 
            блогах и профилях в соц. сетях, на форумах, отзовиках и в 
            сообществах вашего бизнеса. 
            
          img(src=global.paths.pictures+'article-img.jpg' alt="Подпись")
            
          h3 Советы и практические рекомендации к действию

          p. 
            В интернете действует свобода слова, поэтому ваши клиенты и 
            конкуренты могут писать о вас все, что захотят. Вне зависимости 
            от того, ложь это или правда, вам придется улаживать связанные 
            с этим проблемы.

          p. 
            75% людей читают отзывы перед покупкой. И часть из них не станет 
            покупать у вас из-за найденного в сети негатива. В некоторых 
            компаниях упущенная таким образом прибыль доходит до миллионов 
            рублей в месяц.

          h3 Как формируется репутация в сети

          p. 
            Репутация в сети — это отзывы о вашей компании, продукте, о 
            вас как человеке и руководителе. Ваши клиенты, партнеры и 
            сотрудники могут описывать свое взаимодействие с вами в личных 
            блогах и профилях в соц. сетях, на форумах, отзовиках и в 
            сообществах вашего бизнеса. 
        
      +e.side
        +b.A.banner(href="#" title="Баннер")
          img(src="banner.jpg" alt="Баннер")
        +b.banner
          img(src="banner.jpg" alt="Баннер")
            
    +e.footer
      +share('footer')
      
    +rating(10)
    
