include data.pug

mixin item_article(data)
  +b.A.item._article(href="#" class=data.size ? '_size-'+data.size : '')
    +e.DIV.block
      +e.H4.title= data.title
      +e.DIV.text
        p= data.text
    +e.DIV.block._image
      +e.DIV.image
        img(src=global.paths.pictures+data.img alt=data.title)
      +e.DIV.hover
        +b.DIV.ico
          +svg({
            name: 'ico-eye'
          })
        span Читать бесплатно
