- 
  var articlesPageData = [
    {
      double: true,
      items: [
        {
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-1.jpg'
        },{
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-2.jpg'
        }
      ]
    },{
      double: true,
      items: [
        {
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-3.jpg'
        },{
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-1.jpg'
        }
      ]
    },{
      double: true,
      items: [
        {
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-2.jpg'
        },{
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-3.jpg'
        }
      ]
    },{
      title: 'Как выбрать формат рекламы в Фейсбук',
      text: 'Чтобы получать максимум эффективности в достижении целей',
      img: 'video-2.jpg',
      size: 'l'
    },{
      double: true,
      items: [
        {
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-1.jpg'
        },{
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-2.jpg'
        }
      ]
    },{
      double: true,
      items: [
        {
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-3.jpg'
        },{
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-1.jpg'
        }
      ]
    },{
      title: 'Как выбрать формат рекламы в Фейсбук',
      text: 'Чтобы получать максимум эффективности в достижении целей',
      img: 'video-2.jpg',
      size: 'l'
    },{
      double: true,
      items: [
        {
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-2.jpg'
        },{
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-3.jpg'
        }
      ]
    },{
      double: true,
      items: [
        {
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-1.jpg'
        },{
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-2.jpg'
        }
      ]
    },{
      double: true,
      items: [
        {
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-3.jpg'
        },{
          title: 'Как выбрать формат рекламы в Фейсбук',
          text: 'Чтобы получать максимум эффективности в достижении целей',
          img: 'video-1.jpg'
        }
      ]
    }
  ]
