include data.pug

mixin sliderVideos(data)
  +slider({
    title: data.title,
    slider: 'items',
    progress: true
  })
    each item in videosData 
      +e.LI.slide
        +item_video({
          title: item.title,
          img: item.img
        })
