include !bemto/index.pug

-
  var global = {
    title: 'ЮВTV',
    separator: ' | ',
    description: 'Видеокурсы которые делают вашу жизнь лучше!',
    lang: 'ru',
    paths: {
      images: 'img/',
      pictures: 'pictures/',
      icons() { return this.images+'symbols.svg' }
    },
    template: {
      adaptive: true,
      width: 1142
    },
    
    production: false
  }
  
  function randomInt(min,max) {
      return Math.floor(Math.random()*(max-min+1)+min);
  }
  
  function toPrice(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
  }
