mixin item_webinar(data)
  +b.item._webinar(tabIndex="0")
    +e.block._course(style="background-color: #E9EB7A;")
        
    +e.block._info
      +b.SPAN.subcaption Вебинар
      +b.SPAN.caption._size-s Yandex zen 80% дочитываний
      +e.content
        +b.UL.list
          +e.LI.item
            +b.tag
              +e.ico
                +svg({
                  name: 'ico-play',
                  size: [13,13]
                })
              span 180 минут

      +e.footer
        +button({
          type: 'link',
          name: 'Подробнее',
          href: '#',
          style: 0,
          size: 'full'
        })
