- 
  var teamData = [
    {
      name: 'Юрий Колесников',
      position: 'Основатель проекта ЮВ TV',
      quote: 'У девушек всегда есть что решать, но не всегда есть решения. Кто, если не я, им в этом поможет?',
      photo: [
        'kolesnikov-2.png',
        'kolesnikov-1.png'
      ]
    },{
      name: 'Анна Газукина',
      position: 'Арт-директор',
      quote: 'Никогда не отказывайся от своей мечты',
      photo: [
        'anna-4.png',
        'anna-3.png'
      ]
    }
  ]
