include data.pug

mixin sliderTeam(data)
  +slider({
    slider: 'items',
    style: '_team'
  })
    each item in teamData
      +e.LI.slide
        +b.person(data-modal-open="person")
          +e.image
            img(src=global.paths.images+'persona/'+item.photo[0] alt=item.name)
            img(src=global.paths.images+'persona/'+item.photo[1] alt=item.name)
          +e.title
            +e.SPAN.name= item.name
            +e.SPAN.position= item.position
