mixin course_page(data)
  +b.item._double(tabIndex="0")
    +e.half
      +e.block._course(style="background-color: #E9EB7A;")
          
      +e.block._info
        +b.SPAN.subcaption Название курса
        +b.SPAN.caption._size-s Yandex zen 80% дочитываний
        +e.content
          +b.SPAN.caption._size-xs Базовый курс
          +b.UL.list
            +e.LI.item
              +b.tag
                +e.ico
                  +svg({
                    name: 'ico-play',
                    size: [13,13]
                  })
                span 15 видеоуроков
            +e.LI.item
              +b.tag
                +e.ico
                  +svg({
                    name: 'ico-doc'
                  })
                span 6 инструкций
        +e.footer
          +button({
            type: 'link',
            name: 'Подробнее о курсе',
            href: '#',
            size: 'full'
          })
          
    +e.half
      +e.block._image
        +e.image._speaker
          img(src='img/persona/anna-1.jpg' alt='Анна Ромашкина')
          img(src='img/persona/anna-2.jpg' alt='Анна Ромашкина')
          
      +e.block._info
        +b.SPAN.subcaption Спикер
        +b.SPAN.caption._size-s Бондарев  Андрей Евгеньевич
        
        +e.content
          +b.UL.list
            +e.LI.item
              +link({
                name: 'Интервью со спикером',
                href: '#',
                size: 's',
                ico: {
                  name: 'ico-mic',
                  sizeContainer: '_size-s'
                }
              })
            +e.LI.item
              +link({
                name: 'Полезные статьи',
                href: '#',
                size: 's',
                ico: {
                  name: 'ico-doc',
                  sizeContainer: '_size-s'
                }
              })
            +e.LI.item
              +link({
                name: 'Полезные видео',
                href: '#',
                size: 's',
                ico: {
                  name: 'ico-play',
                  sizeContainer: '_size-s'
                }
              })
              
        +e.footer
          +button({
            type: 'link',
            name: 'Об авторе',
            href: '#',
            style: 0,
            size: 'full'
          })
