- 
  var lkCoursesData = [
    {
      title: 'Реальный франчайзинг',
      progress: {
        value: 17,
        max: 24
      },
      docs: []
    },{
      title: 'Реальный инстаграм 2.0',
      progress: {
        value: 1,
        max: 58
      },
      docs: []
    },{
      title: 'ВКонтакте: Быстрый старт',
      progress: {
        value: 0,
        max: 25
      },
      docs: []
    },{
      title: 'Пикап с любовью',
      progress: {
        value: 6,
        max: 6
      },
      docs: []
    }
  ]
