include ../form/index.pug

mixin modal(data)
  +b.modal(data-modal=data.modal data-modal-type="modal" class=data.style ? '_'+data.style : '')
    +e.BUTTON.close(data-izimodal-close)
    +e.content
      +b.SPAN.caption Вход
      +e.text
        p. 
          Вы можете войти в ЮВ-ТВ под вашей учетной записью сайта.<br>
          Еще нет аккаунта? Тогда нужно <a href="#" class="link">зарегистрироваться</a>
      +b.FORM.form
        +field({
          placeholder: 'Электронная почта',
          type: 'mail',
          edit: false,
          style: 'size-s'
        })
        +field({
          placeholder: 'Пароль',
          type: 'password',
          edit: false,
          style: 'size-s'
        })
        +e.submit
          +button({
            type: 'button',
            size: 'full',
            name: 'Войти'
          })
          
        +link({
          name: 'Восстановить пароль',
          href: '#'
        })
      +e.footer
        +e.text
          p. 
            Создавая аккаунт, вы принимаете условия <a href="#" class="link">Пользовательского соглашения</a> 
            и даете свое согласие<br> на <a href="#" class="link">обработку персональных данных</a>
    
mixin modalVideo
  +b.modal._video(data-modal="video" data-modal-type="video")
  
mixin modalPerson
  +b.modal._person(data-modal="person" data-modal-type="modal")
    +e.BUTTON.close(data-izimodal-close)
    +b.person._modal
      +e.image
        img(src=global.paths.images+'persona/kolesnikov-2.jpg')
        
      +e.content
        +e.quote
          p У девушек всегда есть что решать, но не всегда есть решения. Кто, если не я, им в этом поможет?
        +e.SPAN.position Основатель проекта ЮВ TV
          
mixin modalVideo
  +b.modal._thanks(data-modal="thanks" data-modal-type="modal")
    +e.BUTTON.close(data-izimodal-close)
    +e.content
      +b.SPAN.caption Благодорим за заполнение формы!
      +e.text
        p В ближайшее время мы свяжемся с Вами по оставленным Вами контактами.
