include data.pug

mixin sliderArticles(data)
  +slider({
    title: data.title,
    slider: 'items',
    progress: true
  })
    each item in articlesData
      +e.LI.slide
        +item_article({
          title: item.title,
          text: item.text,
          img: item.img
        })
