- 
  var articlesData = [
    {
      title: 'Как выбрать формат рекламы в Фейсбук',
      text: 'Чтобы получать максимум эффективности в достижении целей',
      img: 'video-1.jpg'
    },{
      title: '4 прорывных кейса из Инстаграм',
      text: 'Пути к результату, которые вы можете повторить',
      img: 'video-2.jpg'
    },{
      title: 'Как управлять репутацией бизнеса в сети',
      text: 'Советы и практические рекомендации к действию',
      img: 'video-3.jpg'
    },{
      title: 'Как выбрать формат рекламы в Фейсбук',
      text: 'Чтобы получать максимум эффективности в достижении целей',
      img: 'video-1.jpg'
    },{
      title: '4 прорывных кейса из Инстаграм',
      text: 'Пути к результату, которые вы можете повторить',
      img: 'video-2.jpg'
    }
  ]
