include ../global.pug
include ../breadcrumbs/index.pug
include ../select/index.pug

mixin header(data)
  +b.HEADER.header
    +e.top
      +e.container.container
        +e.H1.title
          +b.ico._highlight
            +svg({
              name: 'ico-smile'
            })
          span Видеокурсы которые делают вашу жизнь лучше!
        
        +e.drop
          +e.BUTTON.menu(data-drop="menu" data-drop-state="0")
            +b.ico
              +svg({
                name: 'ico-menu'
              })
              
          +b.drop._pos-right(data-drop-content="menu")
            +e.header
              +b.SPAN.caption._size-s Меню
            +b.NAV
              +e.UL.list
                +e.LI.item
                  a(href="#") О нас
                +e.LI.item
                  a(href="#") Наша команда
                +e.LI.item
                  a(href="speakers.html") Спикеры
                +e.LI.item
                  a(href="#") Благотворительность
                +e.LI.item
                  a(href="#") Сотрудничество
    - if (data.auth)    
      +e.auth
        +e.container.container
          div
            +b.H2.title Заголовок
            +b.H3.caption._size-s Подзаголовок
          div
            +button({
              type: 'button',
              style: 1,
              name: 'Вход',
              size: 'wide'
            })
            +button({
              type: 'button',
              style: 1,
              name: 'Регистрация',
              size: 'wide'
            })
        
    +e.main
      +e.container.container
        - if (data.select)
            div
              +b.H2.title= data.title
              +breadcrumbs([
                {
                  name: 'Текущая страница',
                  href: '#'
                }
              ])
              
            div
              +select({
                title: 'Сфера деятельности',
                options: [
                  { title: 'Сфера 1' },
                  { title: 'Сфера 2' },
                  { title: 'Сфера 3' },
                  { title: 'Сфера 4' },
                  { title: 'Сфера 5' }
                ]
              })
              
        - else
          div
            +b.H2.title= data.title
            +breadcrumbs([
              {
                name: 'Текущая страница',
                href: '#'
              }
            ])
