include data.pug

mixin sliderCourses(data)
  +slider({
    title: data.title,
    slider: 'items',
    progress: true
  })
    each item in coursesData
      +e.LI.slide
        +item_course({
          title: item.title,
          background: item.background
        })
