- 
  var coursesData = [
    {
      title: 'Как выбрать формат рекламы в Фейсбук',
      img: 'video-1.jpg'
    },{
      title: 'Настройка экспозиции',
      img: 'video-2.jpg'
    },{
      title: 'Студийное освещение',
      img: 'video-3.jpg'
    },{
      title: 'Какую камеру выбрать',
      img: 'video-1.jpg'
    }
  ]
