- 
  var coursesData = [
    {
      title: 'Yandex zen 80% дочитываний',
      background: '#E9EB7A'
    },{
      title: 'Yandex zen 80% дочитываний',
      background: '#F2994A'
    },{
      title: 'Yandex zen 80% дочитываний',
      background: '#219653'
    },{
      title: 'Yandex zen 80% дочитываний',
      background: '#BB6BD9'
    },{
      title: 'Yandex zen 80% дочитываний',
      background: '#56CCF2'
    },{
      title: 'Yandex zen 80% дочитываний',
      background: '#E9EB7A'
    },{
      title: 'Yandex zen 80% дочитываний',
      background: '#219653'
    },{
      title: 'Yandex zen 80% дочитываний',
      background: '#F2994A'
    }
  ]
