- 
  var n = 0

mixin rating(value)
  +b.rating._lesson
    +e.title
      +b.SPAN Оцените лекцию
    +e.UL.stars(data-stars=value data-before="Непонятно" data-after="Понятно")
      while n < 10
        +b.LI.star(tabIndex="0")
          +svg({
            name: 'ico-star'
          })
        - n++
